PORT=3001

SUPABASE_URL=https://PROYECTO_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=service_role_key_aqui

FRONTEND_URL=http://localhost:5173

GROQ_API_KEY=api_key_groq
GROQ_MODEL_PRIMARY=openai/gpt-oss-120b
GROQ_MODEL_FALLBACK=llama-3.1-8b-instant

CLOUDFLARE_ACCOUNT_ID=account_id
CLOUDFLARE_API_TOKEN=api_token
CLOUDFLARE_MODEL=@cf/meta/llama-3.2-11b-vision-instruct # Vision -> Texto y Texto -> Imagen
CLOUDFLARE_MODEL_GEN_IMAGEN=@cf/bytedance/stable-diffusion-xl-lightning # Solo para generación de imágenes

